/.phpunit.cache
/.idea
/.vscode
/vendor
.env
.env.backup
.env.production
/storage/*.key
/storage/pail
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.phpunit.result.cache
Thumbs.db
.DS_Store

/database/*.sqlite
/database/*.sqlite-*
/bootstrap/cache/*.php
